/* Dark Mode */
@define-color dark0 #1d2021;
@define-color dark1 #3c3836;
@define-color dark2 #504945;
@define-color dark3 #665c54;
@define-color dark4 #7c6f64;

/* Light Mode */
@define-color light0 #f9f5d7;
@define-color light1 #ebdbb2;
@define-color light2 #d5c4a1;
@define-color light3 #bdae93;
@define-color light4 #a89984;

/* Additional Colors */
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color orange #d65d0e;
@define-color gray #928374;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "JetBrainsMono NL Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: #1d2021;
  color: @light1;
  /* border-bottom: solid 1px #504945; */
}

window#waybar.hidden {
  /* opacity: 0.2; */
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  border: none;
  box-shadow: none;
}

#workspaces button {
  padding: 0 8px;
  background-color: @dark0;
  color: inherit;
  transition: all 0s linear;
  font-weight: 400;
  border-right: solid 1px @dark1;
}

#workspaces button:hover {
  background: @dark1;
  font-weight: 400;
  text-shadow: none;
}

#workspaces button.active {
  background-color: @light4;
  color: black;
  font-weight: 700;
}

#workspaces button.urgent {
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#backlight,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-workspace_timer,
#custom-date,
#custom-strategy,
#custom-extra,
#custom-pin,
#custom-timer,
#mpd {
  padding: 0 9px;
  /* color: #928374; */
}

/* #pulseaudio:hover, #battery:hover { */
/*   color: #ebdbb2; */
/* } */

#custom-workspace_timer {
  /* color: #b8bb26; */
  color: #ebdbb2;
}

#window,
#workspaces {
  /* margin: 0 4px; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  /* color: #ebdbb2 */
}

#battery {
  /* background-color: #ffffff; */
  /* color: #000000; */
}

#battery.charging,
#battery.plugged {
  /* color: #ffffff; */
  color: #98971a;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  color: #cc241d;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964b00;
}

#backlight {
  /* background-color: #90b1b1; */
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  /* background-color: #f1c40f; */
  /* color: #000000; */
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
