@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

html {
  font-family: "JetBrainsMonoNL Nerd Font";
}
html,
button {
}

.custom-selection::selection {
  background: #ebdbb2;
  color: #282828;
}
